html {
  --dark-blue: #1f2937;
  --off-white: #f9faf8;
  --light-blue: #3882F6;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--off-white);
}

header,
#hero,
footer {
  background-color: var(--dark-blue);
}

#content {
  color: var(--dark-blue);
}

#sign-up > div {
  background-color: var(--light-blue);
}