html {
  --dark-blue: #1f2937;
  --off-white: #f9faf8;
  --light-blue: #3882F6;
  --light-grey: #e5e7eb;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--off-white);
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

section,
header {
  padding: 0 100px;
}

.flex {
  display: flex;
  gap: 1em;
}

.dark-background {
  background-color: var(--dark-blue);
}

.light-background{
  background-color: var(--light-blue);
}

nav {
  margin-left: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
}

#hero {
  justify-content: space-between;
}

#content {
  color: var(--dark-blue);
  text-align: center;
}

#big-shark {
  max-height: 500px;
  max-width: 100%;
  height: auto;
}

.card-container {
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
}

.card>img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid var(--light-blue);
  border-radius: 20px;
}

.quote-box {
  background-color: var(--light-grey);
  color: var(--dark-blue);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.quote {
  font-size: 36px;
  margin: 0;
}

#sign-up {
  justify-content: center;
  align-items: center;
}

.sign-up-box {
  width: 100%;
  margin: 8em;
  padding: 4em 8em;
  border-radius: 10px;
}

.sign-up-box h2,
.sign-up-box p {
  margin: 0;
}



footer {
  text-align: center;
  padding: 1em;
}

footer>p {
  margin: 0;
}