html {
  --dark-blue: #1f2937;
  --off-white: #f9faf8;
  --light-blue: #3882F6;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--off-white);
  margin: 0;
}

section, header {
  padding: 0 100px;
}

.flex {
  display: flex;
  gap: 1em;
}

.dark-background {
  background-color: var(--dark-blue);
}

nav {
  margin-left: auto;
}

ul {
list-style: none;
padding: 0;
margin: 0;
height: 100%;
align-items: center;
}

#hero {
}

#content {
  color: var(--dark-blue);
}

#sign-up > div {
  background-color: var(--light-blue);
}

#big-shark {
  max-height: 300px;
}